@media screen and (max-width:900px){
    header .menu-desktop, header .btn-contato{
        display: none;
    }

    header .btn-menu-mob{
        display: block;
    }

    section.vantagens {
        padding: 80px 0;
    }
    
    .vantagens .itens-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10%;
        margin-bottom: 60px;
    }
    
    /* Estilo para as imagens */
    .vantagens .itens-container .img-itens img {
        max-width: 420px;
    }
    
    /* Estilo para os textos */
    .vantagens .itens-container .txt-itens h3 {
        font-size: 2em;
        line-height: 50px;
        margin-bottom: 20px;
    }
    


@media screen and (max-width: 878px){
    p, h1, h2, h3, h4, h5, h6, button, .logo, .icons-contato{
        margin-left: 20px; /* Aplica a margem apenas em textos */
    } 


    .vantagens .itens-container {
        display: flex;
        flex-direction: column; /* Empilha os elementos verticalmente */
    }

    /* Garante que o texto vem primeiro */
    .vantagens .itens-container .txt-itens {
        order: 1; /* Texto vem primeiro */
    }

    /* A imagem fica depois do texto */
    .vantagens .itens-container .img-itens {
        order: 2; /* Imagem vem depois */
        margin-top: 20px; /* Espaçamento entre o texto e a imagem */
    }

.logo, .icons-contato, .img-itens, .interface {
    margin-left: 20px;
    margin-right: 20px;
}
 

.img-itens {
    margin-left: 5px; 
    margin-right: 5px;
}


 .hero-site .txt-hero h1{
        font-size: 2.6em;
        line-height: 45px;
        
    }
    
    .hero-site .txt-hero p {
        
        font-size: 14px;
        padding-left: 20px; /* Adiciona um espaço antes do texto */
    }
    
    .hero-site .txt-hero p span{
        padding: 5;
        display: inline;
        
    }
    
    .hero-site button{
        font-size: 18px;
    }



.vantagens .itens-container {
    flex-direction: column;
}

.vantagens .itens-container .img-itens img{
    width: 100%;
}

.vantagens ,.itens-container .txt-itens p{
    order: 1;
}



.vantagens ,.itens-container .item-2{
    padding-top: 2px;
    order: 0;
}

.txt, .icons-contato{
    margin-left: 20px;
    width: 100%;
}

.txt-contato p{
    font-size: 27px;
}

.txt-contato, .icons-contato{
    display: block;
    width: 100%;
}

.btn-contato .txt-contato h3{
    font-size: 2em;
    line-height: 40px;
}

.contato .txt-contato {
    margin-bottom: 20px;
}

 .icons-contato button{
    width: 100%;
}


.hoteis h3{
    font-size: 2.3em;
    line-height: 40px;
}

.hoteis p{
    margin: 20px 0;
    font-size: 16px;
}



.txt-funciona, .instrucoes{
    display: block;
    width: 100%;
}

.como-funciona .txt-funciona{
    position: static;
}

.como-funciona .txt-funciona h3{
    font-size: 3em;
    line-height: 50px;
}

.instrucoes .instru-box{
    flex-direction: column;
    text-align: center;
}


footer .middle-footer a{
    margin: 15px 0;
    display: block;
}


footer .bottom-footer p{
    color: #fff; 
    font-size: 14px;

}
}